In [38]:
import pandas as pd

In [39]:
# Read each CSV file
df_dept_emp = pd.read_csv('dept_emp.csv')
df_dept_manager = pd.read_csv('dept_manager.csv')
df_employees = pd.read_csv('employees.csv')
df_salaries = pd.read_csv('salaries.csv')

In [40]:
print(df_dept_emp.columns)

Index(['emp_no', 'dept_no'], dtype='object')

In [41]:
df_dept_emp.columns = df_dept_emp.columns.str.strip()

In [42]:
print(df_dept_emp.head())

   emp_no dept_no
0   10001    d005
1   10002    d007
2   10003    d004
3   10004    d004
4   10005    d003

In [43]:
print(df_dept_manager.columns)

Index(['dept_no', 'emp_no'], dtype='object')

In [44]:
df_dept_manager.columns = df_dept_manager.columns.str.strip()

In [45]:
print(df_dept_manager.head())

  dept_no  emp_no
0    d001  110022
1    d001  110039
2    d002  110085
3    d002  110114
4    d003  110183

In [46]:
print(df_employees.columns)

Index(['emp_no', 'emp_title_id', 'birth_date', 'first_name', 'last_name',
       'sex', 'hire_date'],
      dtype='object')

In [47]:
df_employees.columns = df_employees.columns.str.strip()

In [48]:
print(df_employees.head())

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001   7/25/1953    Hideyuki   Zallocco   M   4/28/1990
1  475053        e0002  11/18/1954       Byong  Delgrande   F    9/7/1991
2   57444        e0002   1/30/1958       Berry       Babb   F   3/21/1992
3  421786        s0001   9/28/1957       Xiong   Verhoeff   M  11/26/1987
4  282238        e0003  10/28/1952  Abdelkader    Baumann   F   1/18/1991

In [49]:
print(df_salaries.columns)

Index(['emp_no', 'salary'], dtype='object')

In [50]:
df_salaries.columns = df_salaries.columns.str.strip()

In [51]:
print(df_salaries.head())

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [52]:
# Clean the data by dropping missing values
df_dept_emp_cleaned = df_dept_emp.dropna()
df_dept_manager_cleaned = df_dept_manager.dropna()
df_employees_cleaned = df_employees.dropna()
df_salaries_cleaned = df_salaries.dropna()

In [53]:
# Convert 'emp_no' and 'salary' columns to integers where applicable
df_dept_emp_cleaned['emp_no'] = pd.to_numeric(df_dept_emp_cleaned['emp_no'], errors='coerce').dropna().astype(int)
df_dept_manager_cleaned['emp_no'] = pd.to_numeric(df_dept_manager_cleaned['emp_no'], errors='coerce').dropna().astype(int)
df_employees_cleaned['emp_no'] = pd.to_numeric(df_employees_cleaned['emp_no'], errors='coerce').dropna().astype(int)
df_salaries_cleaned['emp_no'] = pd.to_numeric(df_salaries_cleaned['emp_no'], errors='coerce').dropna().astype(int)
df_salaries_cleaned['salary'] = pd.to_numeric(df_salaries_cleaned['salary'], errors='coerce').dropna().astype(int)

In [61]:
# Save the cleaned data back to new CSV files with ',' as separator
df_dept_emp_cleaned.to_csv('dept_emp_cleaned.csv', index=False, sep=',', encoding='utf-8')
df_dept_manager_cleaned.to_csv('dept_manager_cleaned.csv', index=False, sep=',', encoding='utf-8')
df_employees_cleaned.to_csv('employees_cleaned.csv', index=False, sep=',', encoding='utf-8')
df_salaries_cleaned.to_csv('salaries_cleaned.csv', index=False, sep=',', encoding='utf-8')

In [62]:
# Save the cleaned data back to new CSV files
df_dept_emp_cleaned.to_csv('dept_emp_cleaned.csv', index=False)
df_dept_manager_cleaned.to_csv('dept_manager_cleaned.csv', index=False)
df_employees_cleaned.to_csv('employees_cleaned.csv', index=False)
df_salaries_cleaned.to_csv('salaries_cleaned.csv', index=False)

In [63]:
# Check for duplicates in the specified columns for each dataframe
dept_emp_duplicates = df_dept_emp_cleaned[df_dept_emp_cleaned.duplicated(subset=['emp_no', 'dept_no'], keep=False)]
dept_manager_duplicates = df_dept_manager_cleaned[df_dept_manager_cleaned.duplicated(subset=['emp_no', 'dept_no'], keep=False)]
employees_duplicates = df_employees_cleaned[df_employees_cleaned.duplicated(subset=['emp_no'], keep=False)]
salaries_duplicates = df_salaries_cleaned[df_salaries_cleaned.duplicated(subset=['emp_no'], keep=False)]

In [64]:
print(dept_emp_duplicates)

Empty DataFrame
Columns: [emp_no, dept_no]
Index: []

In [65]:
print(dept_manager_duplicates)

Empty DataFrame
Columns: [dept_no, emp_no]
Index: []

In [66]:
print(employees_duplicates)

Empty DataFrame
Columns: [emp_no, emp_title_id, birth_date, first_name, last_name, sex, hire_date]
Index: []

In [67]:
print(salaries_duplicates)

Empty DataFrame
Columns: [emp_no, salary]
Index: []

In [69]:
print(df_dept_emp.dtypes)
print(df_salaries.dtypes)

emp_no      int64
dept_no    object
dtype: object
emp_no    int64
salary    int64
dtype: object

In [68]:
print(df_dept_emp_cleaned['emp_no'].apply(lambda x: isinstance(x, int)))

0         True
1         True
2         True
3         True
4         True
          ...
331598    True
331599    True
331600    True
331601    True
331602    True
Name: emp_no, Length: 331603, dtype: bool